
# Documentation
# GARUDA specific
# IDE
# Jupyter
# OS
# Python
# Testing
# Virtual environments
*$py.class
*.egg
*.egg-info/
*.log
*.out
*.py[cod]
*.so
*.swo
*.swp
*~
.DS_Store
.Python
.coverage
.eggs/
.idea/
.installed.cfg
.ipynb_checkpoints/
.pytest_cache/
.tox/
.venv
.vscode/
ENV/
Thumbs.db
__pycache__/
_build/
build/
develop-eggs/
dist/
docs/_build/
docs/build/
downloads/
eggs/
env/
garuda/_version.py
htmlcov/
lib/
lib64/
parts/
sdist/
var/
venv/
wheels/
